*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background: #f5f5f5;
}

/* HEADER */
header{
    background: #ffffff;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

header .logo{
    font-size: 24px;
    font-weight: bold;
    color: #b6009e;
}

header nav a{
    margin-left: 20px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/* HERO SECTION */
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
    padding: 60px 40px;
    color: white;
}

.hero-text{
    width: 50%;
}

.hero-text h1{
    font-size: 40px;
    margin-bottom: 15px;
}

.hero-text p{
    width: 80%;
    font-size: 18px;
}

.btn{
    display: inline-block;
    background: #ffffff;
    color: #246fa8;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
}

.hero-img img{
    width: 380px;
    border-radius: 10px;
}

/* WHY SECTION */
.why{
    padding: 60px 40px;
    text-align: center;
}

.why h2{
    margin-bottom: 30px;
    font-size: 28px;
}

.why-boxes{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.box{
    width: 28%;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

/* CONTACT SECTION */
.contact{
    background: #8cc1e0;
    padding: 60px 40px;
    text-align: center;
}

.contact h2{
    margin-bottom: 25px;
}

.contact-boxes{
    display: flex;
    justify-content: space-around;
}

.c-box{
    background: #f1e5c0;
    width: 28%;
    padding: 20px;
    border-radius: 10px;
}

/* FOOTER */
footer{
    background: #000;
    color: white;
    padding: 15px;
    text-align: center;
    margin-top: 0px;
}
